<?php
/**
 * @file      AblePolecat-Mod-SalesforceSoapApi/etc/polecat/conf/path.config
 * @brief     Supplemental Able Polecat project path configuration settings file.
 * @author    Karl Kuhrman
 * @copyright Copyright © 2015 Able Distributors Inc. All rights reserved.
 */

if (!defined('ABLEPOLECAT_MOD_SALESFORCESOAPAPI_PATH')) {
  $ABLEPOLECAT_MOD_SALESFORCESOAPAPI_PATH = dirname(dirname(dirname(__DIR__)));
  define('ABLEPOLECAT_MOD_SALESFORCESOAPAPI_PATH', $ABLEPOLECAT_MOD_SALESFORCESOAPAPI_PATH);
}
if (!defined('ABLEPOLECAT_MOD_SALESFORCESOAPAPI_SRC_PATH')) {
  $ABLEPOLECAT_MOD_SALESFORCESOAPAPI_SRC_PATH = implode(DIRECTORY_SEPARATOR, array(ABLEPOLECAT_MOD_SALESFORCESOAPAPI_PATH, 'usr', 'src'));
  define('ABLEPOLECAT_MOD_SALESFORCESOAPAPI_SRC_PATH', $ABLEPOLECAT_MOD_SALESFORCESOAPAPI_SRC_PATH);
}