<?xml version='1.0' standalone='yes'?>
<module id="d69bd6b3-5ef1-11e4-8bc7-0050569e00a2" name="AblePolecat-Mod-SalesforceSoapApi" decsription="Salesforce.com Apex SOAP Client for Able Polecat.">
  <locaters>
    <locater id="Salesforce.com" name="soapClient" use="1">
      <fullPath>/path/to/usr/libs/Force.com/wsdl.xml</fullPath>
      <userName>user@salesforce.com</userName>
      <passWord>Force.comPassword</passWord>
      <securityToken>Force.comSecurityToken</securityToken>
    </locater>
  </locaters>
</module>